.content-nav {
  position: sticky;
  top: 0;
  z-index: 600;
  transition: all ease-in-out 0.5s;
  display:  flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: all ease-in-out;
  margin-bottom: -57px;
  /* width: auto; */
  .nav-group {
    transition: all ease-in-out 0.4s;
    /* transform: translate(-2rem, calc(80vh - 16rem)); */
    transform: translate(0rem,44vh);

    h3 {
      opacity: 1;
      transition: all ease-in-out 0.4s;
    }
  }

  .nav-group a {
    cursor: pointer;
    display: inline-flex;
    /* align-items: center; */
    margin-left: var(--size-15);
    line-height: 1.2rem;
    color: var(--color-n2);
    text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: .05rem;
    &:before {
      content: ' ';
      display: inline-block;
      border: 0.1rem solid;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-right: var(--size-9);
      transition: all ease-in-out 0.4s;

    }

    &.design {
      /* color: var(--color-static-p1); */
      &:before {
        border-color: var(--color-s1);
        background-color: var(--color-s6);
      }

      &.active {
        color: var(--color-s1);
      }
    }

    &.dev {
      /* color: var(--color-p1); */

      &:before {
        border-color: var(--color-p1);
        background-color: var(--color-p5);
      }
      &.active {
        color: var(--color-p1);
      }
    }
  }
}

header.sticked + main.main {
  .content-nav {
    position: sticky;
    top: 7rem;
    z-index: 667  ;
    transition: all ease-in-out 0.5s;
    /* flex-direction: row-reverse;
    justify-content: flex-start; */
    /* background-color: var(--white); */
    > .nav-group {


      width: unset;
      transform: translate(0, 0);
      transition: all ease-in-out 0.4s;
      /* animation: slide-in 0.5s ease-in-out forwards; */
      a:not(.active){
      transition: all ease-in-out 0.4s;

        color: var(--color-n3);
        &::before{
      transition: all ease-in-out 0.4s;

          background-color: var(--color-n6);
          border-color: var(--color-n5);

        }
      }
    }

    .nav-design {
      /* padding-right: 2rem; */
    }
  }
  .graph-section .g1 h4,
  .graph-section .g2 h4 {
    opacity: 1;
    transition: all ease-in-out 0.3s;
  }
}

/* .home-wrapper {
  margin-top: 100vh;
} */
