.content-nav {
  position: sticky;
  top: 0;
  z-index: 600;
  transition: all ease-in-out .5s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: all ease-in-out;
  margin-bottom: -57px;
  .nav-group {
    transition: all ease-in-out .4s;
    transform: translate(0, calc(100vh - 19rem));

    /* top: calc(100vh - 19rem); */
    /* padding-left: 2rem; */
    h3 {
      opacity: 1;
      transition: all ease-in-out .4s;
    }

    &.nav-dev {
      width: 60%;
      transform: translate(0, calc(100vh - 11rem));
    }

    &.nav-design {
      width: 40%;
      padding-right: 0;
      transform: translate(0, calc(100vh - 17rem))

    }
  }

  .button {
    cursor: pointer;

    &.design {
      border-color: var(--color-s1);
      color: var(--color-static-p1);
      background-color: var(--color-s4);

      &.active {
        color: var(--color-s4);
      }
    }

    &.dev {
      border-color: var(--color-p1);
      color: var(--color-p1);
      background-color: var(--color-p5);

      &.active {
        color: var(--color-p5);
      }
    }
  }
}


header.sticked+main.main {
  .content-nav {
    position: sticky;
    top: 5rem;
    z-index: 600;
    transition: all ease-in-out .5s;
    flex-direction: row-reverse;
    justify-content: flex-start;

    >.nav-group {
      h3 {
        opacity: 0;
        transition: all ease-in-out 1s;
      }

      width: unset;
      transform: translate(0, 0);
      transition: all ease-in-out .4s;
      /* animation: slide-in 0.5s ease-in-out forwards; */
    }

    .nav-design {
      padding-right: 2rem;

    }

  }
  .graph-section .g1 h4, .graph-section .g2 h4{
    opacity: 1;
    transition: all ease-in-out .3s;
  }
}







.days {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 9px;

  >div:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: lightblue;
  }
}

/* .home-wrapper {
  margin-top: 100vh;
} */