.sticky-header {
  position: sticky;
  top: 4.5rem;
  z-index: 665;
  display: inline-block;
  padding-top: .5rem;
  /* margin-left: -.5rem; */
}
.intro-title-sticky {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  z-index: 112;
}
.design-intro-title {
  font-size: var(--size-24);
  padding-left: var(--size-24);
  color: var(--color-n3);
  line-height: 2rem;
  font-weight: 100;
  margin-left: 24px;
}
.white-space-break {
  white-space: break-spaces;
}
.is-title-sticky {
  /* .invisible {
    display: none;
  } */
  &.title-sticky {
    .invisible {
      display: inline-block;
    }
    &.intro-title-sticky {
      justify-content: flex-start;

      .design-intro-title {
        visibility: hidden;
      }
    }
  }
}
.home-page .big-title.title-sticky {
  padding-top: var(--size-63x2);
  white-space: nowrap;
}



.content-slide-container {
    > section {
        /* padding-bottom: 30vh; */
        &:last-child{
          padding-bottom: 0;
        }
    }
  .viewport-h:not(:last-child) {
    /* background-color: rgba(255,44,200, .6); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    /* padding-bottom: 30vh; */
    .big-title{
        align-self:flex-start;
        /* padding-top: 0; */
    }
  }
  .big-title {
    margin-bottom: var(--size-24);
    /* transition: all ease-in .3s; */
    margin-bottom: .2rem;
    letter-spacing: -.2rem;
    /* .icon-mid {
        transform: translate(0, -.5rem);
    } */
  }
  .indipend-paragraph {
    /* margin-bottom: 50vh; */
    max-width: 43.22rem;
    margin-top:  var(--size-15);
  }
  .icon-mid {
    margin-right: var(--size-15);
    margin-top: .4rem;
  }
  h2.big-title {
    display: flex;
    width: 100%;
    align-items: center;
    > span{
      display: inline-flex;
      margin-right: .5rem;
      align-items: center;
    }
  }
/* 
  .first-container {
    padding-bottom: 50vh;
    .big-title{
        margin-top: -18.9rem;
      }
  } */
  .invisible {
    display: none;
  }
  .content-dec{
    max-width: 43.22rem;
    font-size: var(--font-size-Subtitle);
    line-height: calc(1.5* var(--font-size-Subtitle));
    color: var(--color-n1);
    /* margin-top: 3rem; */
  }

  /* .intersect-section {
    * {
        opacity: 0;
        transition: all ease-in-out .3s;
    }
    &.intersect-active *{
        opacity: 1;
        transition: all ease-in-out .3s;

    }
  } */
}

.big-title {
  margin-top: 12rem;
}