
svg,svg path{
    fill: var(--black);
  }
  .paragraph,
  p {
    font-size: var(--font-size-paragraph);
    /* line-height: calc(2* var(--size-15)); */
    line-height: var(--size-24);
    word-spacing: 0.04rem;
    letter-spacing: .03rem;
  
    strong {
      font-weight: bold;
      display: inline-block;
    }
  }
  
  .button {
    display: inline-block;
    font-size: var(--font-size-paragraph);
    font-weight: bold;
    padding: var(--size-9) var(--size-15);
    color: var(--color-n2);
    border: .1rem solid var(--color-n4);
    white-space: nowrap;
    border-radius: var(--size-9);
    cursor: pointer;
    transition: all ease-in-out .18s;
  
    &:hover {
      background-color: var(--color-n6);
    }
  }
  .button {
    &.ghost{
      border-color: transparent;
    }
  }
  
  .active {
    /* Your active link styles go here */
    color: #7d7aff;
    /* Change the color as per your design */
    font-weight: bold;
  }
  
  .color-n3 {
    color: var(--color-n3);
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .height-0 {
    height: 0;
  }
  
  .color-n4 {
    color: var(--color-n4);
  }
  
  .icon-mid {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    width: var(--size-63);
    height: var(--size-63);
    /* margin-right: calc(-1*(var(--size-39))); */
    /* margin-right: calc(-2*(var(--size-39))); */
    /* transform: translateY( calc(-1 * (var(--font-size-big) + var(--size-39)))); */
    border: .1rem solid;
    border-radius: 10rem;
  }

  .dev-exp .icon-mid{
    margin-right: calc(-1.8*(var(--size-39)));

  }
  .design-exp .icon-mid {
    margin-right: var(--size-15);
  }
  .design-exp h2.big-title{
    display: flex;
    align-items: center;
  }
  
  .big-title {
    font-size: var(--font-size-big);
    line-height: var(--font-size-big);
  }
  
  .title-normal {
    font-size: var(--font-size-title);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font);
  }
  
  .huge-title {
    font-family: var(--font);
    font-size: 4.3rem;
  }
  
  .subtitle {
    font-size: var(--font-size-Subtitle);
  }
  
  ul {
    li {
      margin-bottom: var(--size-15);
    }
  }
  
  .mb-39 {
    margin-bottom: var(--size-39);
  }
  
  .mb-63 {
    margin-bottom: var(--size-63);
  }
  
  .mb-102 {
    margin-bottom: var(--size-102);
  }
  
  .icon-18, .icon-24{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-18{
    width: var(--size-9x2);
    height: var(--size-9x2);
  }
  .icon-24{
    width: var(--size-24);
    height: var(--size-24);
  }
  .wrapper-main {
    max-width: var(--wrapper-main);
    width: 100%;
    margin: 0 auto 0;
  }
  .wrapper-1400{
    max-width: 1400px;
    margin: o auto 0;
    margin:0 auto 0;
  }
  
  main.main {
    padding: var(--wrapper-margin);
  }
  
  .wrapper-sec {
    max-width: var(--wrapper-sec);
    width: 100%;
  }
.col-70 {
  width: 70%;
}