.single-content {
    display: flex;
    .content{
    background-color: var(--white);
  
      width: 100%;
     
      .content-holder {
        padding: var(--size-39) var(--size-24);
        h3{
          margin-bottom: var(--size-15);
          color: var(--color-p1);
        }
        ul {
          list-style-type: disc;
          padding-left: var(--size-15);
          li{
            font-size: var(--font-size-paragraph);
          }
        }
      }
   
    }
    .img-static {
      position: static !important;
      width: 100% !important;
      height: auto !important;
    }
    .sidebar {
      width: 30%;
    }
    .image-viewer {
  
    }
  }

  .col-container {
    display: flex;
    .col-50{
      width: 50%;
    }
  }

  .article-header {
    background-color: #7d7aff;
  }