.single-content {
  display: flex;
  article.content {
    background-color: var(--bg);
    width: 100%;
    padding-top: 4.6rem;
    .content-holder {
      padding: 4rem;
      h3 {
        margin-bottom: var(--size-15);
        color: var(--primary);
      }
      ul {
        list-style-type: disc;
        padding-left: var(--size-15);
        li {
          font-size: var(--font-size-paragraph);
          line-height: calc(1.6*(var(--font-size-paragraph)));
          margin-bottom: .3rem;
        }
      }
    }
  }
  .img-static {
    position: static !important;
    width: 100% !important;
    height: auto !important;
  }
  .sidebar {
    width: 24%;
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-right: 2rem;
    right: -2rem;
    /* background: var(--bg); */
  }
  .image-viewer {
  }
}

.article-header {
  background-color: #7d7aff;
}
