#hamburger {
    display: none;
}

@media screen and (max-width: 767px) {
  .main-menu-close, .header-links {
    display: none;
    /* background-color: white; */
  }

  #hamburger:checked ~ .header-wrap {
    .header-links {
        display: flex;
        background-color: var(--text30);
        flex-direction: column-reverse;
        top: 4rem;
        padding: 3rem;
        right: 0;
        width: 100%;
    }
  }
  #hamburger:checked ~ .menu-icon {
    .main-menu-close {
        display: block;
    }
    .main-menu-open {
        display: none;
    }
  }
  .menu-icon {
    position: absolute;
    right: 3rem;
    top:21px;
    z-index: 12;
  }
  .main-menu-open , .main-menu-close{
    width: 3rem;
     path{
        width: 3rem;
        fill: var(--text75);
    }
  }
}
