#toc, .toc-menu,  .overlay-toc {

display: none;
}
@media screen and (max-width: 863px) {
  .overlay-toc {
    position: fixed;
    background-color: black;
    opacity: .6;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
  }
  .single-content {
    display: block;
  }
  .single-content .sidebar-inner {
    position: fixed;
    background: var(--bg);
    right: 0;
    height: 88vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sidebar-inner {
    border-radius: var(--size-9) 0 0 var(--size-9);
    nav{
      position: relative;
      z-index: 30;
    }
  }
  .toc-menu {
    display: inline-block;
    padding: var(--size-9);
    border-bottom: .1rem solid var(--text45);
    .open-toc {
        display: none;
    }
    svg {
        width: var(--size-24);
        height: var(--size-24);
    }
  }
  #toc:checked ~ .overlay-toc {
    display: none;

  }
  #toc:checked ~ .sidebar-inner {

    height: auto;
    margin-top: 2rem;
    opacity: .6;
    .toc-menu {
        .close-toc {
            display: none;
        }
        .open-toc {
            display: block;
        }
    }

    .parts > span.active-cat{
        display: none;
    }
    h3.title {
      display: none;
    }
    li.chapter{
        display: none;
    }
    ul.articles > li > a {
        display: none;
    }
    .parts > span:not(.active-cat){
        display: none;
    }
    .content-links li a{
        font-size: 0;
    }
    .content-links {
        margin-right: 0;
    }
  }
}
