/* #toc, .toc-menu {

display: none;
} */
@media screen and (max-width: 1024px) {
  .single-content {
    display: block;
  }
  .single-content .sidebar-inner {
    position: fixed;
    background: white;
    right: 0;
    height: 88vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sidebar-inner {
    border-radius: var(--size-9) 0 0 var(--size-9);
  }
  .toc-menu {
    display: inline-block;
    padding: var(--size-9);
    border-bottom: .1rem solid var(--color-n4);
    .open-toc {
        display: none;
    }
    svg {
        width: var(--size-24);
        height: var(--size-24);
    }
  }
  #toc:checked ~ .sidebar-inner {
    height: auto;
    margin-top: 2rem;
    .toc-menu {
        .close-toc {
            display: none;
        }
        .open-toc {
            display: block;
        }
    }

    .parts > span.active-cat{
        display: none;
    }
    li.chapter{
        display: none;
    }
    ul.articles > li > a {
        display: none;
    }
    .parts > span:not(.active-cat){
        display: none;
    }
    .content-links li a{
        font-size: 0;
    }
    .content-links {
        margin-right: 0;
    }
  }
}
