@import url(./header.css);
@import url(./hero.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


:root {
  --wrapper-main : 81rem;
  --wrapper-sec : 60rem;
}

.active {
  /* Your active link styles go here */
  color: #ff0000; /* Change the color as per your design */
  font-weight: bold;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.wrapper-main {
  max-width: var(--wrapper-main);
  width: 100%;
  margin: 0 auto 0;
}
.wrapper-sec {
  max-width: var(--wrapper-sec);
  width: 100%;
}

body {
  font-family: var(--font-secondary);
  font-size: 15px;
}
.avatar {
  border-radius: 50%;
  border: .1rem solid white !important;
  background: rgba(0,0,0,.3);
}

.site-structure {
  display: grid;
  grid-template:
  "header header sidebar"
  "content content sidebar"
  "footer footer sidebar";
  grid-template-columns: 1fr 2fr 1fr;
}
header.main{
  grid-area: header;
  z-index: 11;
}
main.main, article.main{
  grid-area: content;
}
aside.main {
  grid-area: sidebar;
  position: relative;
  z-index: 12;
  .sideabar-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    & > div {
      margin-bottom: auto;
    }
    & > nav {
      margin-bottom: auto;
    } 
  }
}

footer.main {
  grid-area: footer;
}

.ruller-vert {
  background-image: url("/ruler-horizon.png");
  background-repeat: repeat-y;
  background-size: 1rem 3rem;
}
header.main {
  background-image: url("/ruler-vertical.png");
  background-repeat: repeat-x;
  background-size: 3rem 1rem;


}

ul.articles {
  .content-links {
    display: none;
  }
  > li > a.active + .content-links {
    display: block;
  }
}