@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url(./header.css);

:root {
  --wrapper-main : 81rem;
  --wrapper-sec : 60rem;
}

.active {
  /* Your active link styles go here */
  color: #ff0000; /* Change the color as per your design */
  font-weight: bold;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.wrapper-main {
  max-width: var(--wrapper-main);
  width: 100%;
}
.wrapper-sec {
  max-width: var(--wrapper-sec);
  width: 100%;
}
body {
  font-family: var(--font-secondary);
  font-size: 15px;
}
.avatar {
  border-radius: 50%;
  border: .1rem solid white !important;
  background: rgba(0,0,0,.3);
}