@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.under-construct {
  min-height: 34vh;
  h1 {
    font-size: 30px;
    text-align: center;
  }
}