header.main {
  /* padding: var(--size-15) var(--wrapper-margin); */
  width: 100%;
  /* position: fixed; */
  z-index: 666;
  position: fixed;
  left: 0;
  top: 0;

  /* background-color: rgba(255,255,255,.1); */
  &,
  .main-inner,
  nav,
  nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .avatar {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    border: 0.1rem solid var(--color-n6) !important;
    /* position: absolute;
      width: 100%;
      height: 100%; */
  }

  .logo {
    margin-right: auto;
    display: flex;


  }

  nav ul {
    display: flex;
    gap: 1rem;
    padding-right: 3rem;
  }
}
.header-wrap {
  display: flex;
  padding: 0 var(--wrapper-margin);
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

header.main.sticked,
header.main {
  /* height: 4.2rem; */

  .main-inner {
    justify-content: unset;
  }

  .logo {
    margin-right: unset;

    /* margin-left: 2.2rem; */
  }

  .header-description {
    margin-left: 1rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 0;

    .logo-name {
      font-size: var(--logo-name-small);
      color: var(--color-n2);
    }
  }
}

header.main {
  /* height: 90vh; */
  /* overflow: hidden; */
  .header-wrap {
    padding: var(--size-9x2) var(--wrapper-margin);
  }
  .main-inner {
    justify-content: start;
  }
  .logo {
    height: var(--size-15x3);
    width: var(--size-15x3);
    display: block;
    position: relative;
  }
  .logo-name {
    font-size: var(--logo-name-small);
    color: var(--color-n2);
    display: block;
    font-weight: var(--logo-name-big-font-weight);
    margin-bottom: 0;
    margin-left: 1rem;
    line-height: 2rem;
  }
  .header-description {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;

    /* position: relative;
            margin-top: -7rem; */
    a {
      text-decoration: none;
    }

    /* .logo-name {
        font-weight: 900;
        color: var(--logo-name-big-color);
        font-size: var(--logo-name-big);
        margin-bottom: 0.5rem;
      } */
  }

  .header-description p {
    /* margin-top: 6.3rem; */
    /* transition: all ease-in .1s; */
    /* display: flex;
            flex-direction: column; */
    /* position: absolute; */
    margin-top: var(--size-9);
    font-size: var(--font-size-Subtitle);
    line-height: calc(1.5 * var(--font-size-Subtitle));
    max-width: 35rem;
    /* max-width: 36vw; */
    color: var(--intro-color);
  }

  .logo {
    margin-right: unset;
  }

  /* .site-structure {
    display: block;

    main.main {
      margin-top: 100vh;
    }
  } */
}

.header-links {
  display: flex;
  align-items: center;
  gap: var(--size-24);
  .icon-24 {
    margin-top: -0.4rem;
  }
}

.hero-header {
  /* .wrapper-main {
    height: 100%;
  } */

  .header-description {
    a.cv-btn {
      margin-right: auto !important;
      background-color: rgb(125, 122, 255);
      margin-top: 0.5rem;
      margin-left: 0 !important;
    }
  }
}

.ruller-vert:not(.home-page) header.main .header-description p {
  display: none;
}

.avatar-img {
  background-color: red;
}
.hero-header .avatar {
  /* transition: transform 0.3s ease; */
}

/* .logo .avatar {
  background-image: url(/avatar-nch.png);
  background-size: cover;
  background-position: 'center';
  border-radius: '50%';
} */

header.sticked {
  background-color: var(--white);
  border-bottom: .1rem solid var(--color-n6);
  .logo {
    img {
      transition: all ease-in-out 0.2s;
    }
  }
}

header.main .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.huge-title .logo-name {
  text-indent: 0;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}
header.hero-header {
  transition: all ease-in-out 0.2s;
  .logo {
    img {
      transition: all ease-in-out 0.2s;
      border: 0rem solid var(--color-n6) !important;
      width: 0;
      height: 0;
    }
  }
  .huge-title .logo-name {
    text-indent: -30rem;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
  }
}

.image-holder span img {
  transition: all ease-in-out 0.2s;
  border-radius: 300rem;
}
