.hero-sect {
  position: absolute;

  /* .image-holder {
        width: 1750px;
    } */

  .paragraph {
  }
}

.journey-container {
}

/* temp layout styles start */

/* .content-navigation {
    position: sticky;
    top: 0;
    transition: all ease-in-out .5s;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 44;
    transition: all ease-in-out;

    .navigation-group  {
     
        transition: all ease-in-out .4s;
        transform: translate(0,  calc(100vh - 19rem));
       
        h3 {
            opacity: 1;
            transition: all ease-in-out .4s;
        }
    }
    .ng-design {
        width: 40%;
        padding-right:0;

    }
    .ng-dev {
        width: 60%;
        transform: translate(0,  calc(100vh - 10rem));
    }
} */

/* header.sticked+main.main {
    .content-navigation {
        position: sticky;
        top: 5rem;
        transition: all ease-in-out .5s;
        flex-direction: row-reverse;
        justify-content: flex-start;
    
        > .navigation-group  {
            h3 {
                opacity: 0;
                transition: all ease-in-out 1s;
            }
          width: unset;
            transform: translate(0, 0);
            transition: all ease-in-out .4s;
        }
        .ng-design {
            padding-right: 2rem;
    
        }
        
    }
} */

.hero-section {
  height: 12rem;
  /* width: 21rem; */
  /* background-color: gray; */
  margin-bottom: -12rem;
  position: absolute;
  left: 0;
  align-self: flex-start;
  z-index: 4;
  top: -6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* .image-holder {
      span {
          border-radius: 360rem;
      }
  } */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;

  /* &:nth-child(even) {
        background-color: pink;
    } */

  &.first {
    flex-direction: column;
    height: auto;
  }

  .graph-section {
    height: 50vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top: 49vh;
    z-index: 544;
    /* background: red; */
    /* opacity: 0.6; */
    margin-top: 44vh;
    /* opacity: 0.6; */
    /* 
        &>div {
            height: 9rem;
        } */
    .g1,
    .g2 {
      position: relative;
      z-index: 4;
      margin-bottom: 2rem;
    }
    .graph {
      font-size: 2rem;
  font-weight: 900;
  padding: var(--size-9x2);
  text-transform: uppercase;
    }
    .g1 {
      width: 40%;
      /* background-color: yellow; */
      align-self: flex-end;

      .graph {
        background-color: var(--color-s3);
        border: 0.1rem solid var(--color-s4);
        color: var(--color-s7);
      }
    }

    .g2 {
      width: 100%;
      h4 {
        color: var(--color-p4);
        opacity: 0;
        transition: all ease-in-out 0.3s;
      }
      .graph {
        background-color: var(--color-p3);
        border: 0.1rem solid var(--color-p4);
        color: var(--color-p6);
      }
    }
  }

  .journey-section {
    height: 100vh;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 7rem;
    /* position: relative;
        z-index: 6; */
  }
}

/* temp layout styles end */
.days {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* padding: 9px; */
  gap: 0.1rem;
  height: 100%;
  position: absolute;
  > div {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: var(--color-n5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  >div:hover {
    &:after{
      opacity: .6;
    }
  }
  > div:after {
    transition: all ease-in-out 0.5s;
    content: '';
    position: absolute;
    background-color: var(--color-n6);
    opacity: 0.3;
    width: 100%;
    left: 0;
    /* bottom: 2rem; */
    /* height: 100%; */
    bottom: 1.5rem;
    top: 0;
    /* height: 50vh; */
  }
}

header.sticked + main.main .first.section .graph-section .days div:after {
  top: -39vh;
  bottom: 0;
  height: auto;
}

.exp-block {
  /* display: inline-block; */
  /* border: 0.1rem solid var(--color-p6); */
  display: flex;
  align-items: center;
  gap: .2rem;
  overflow: hidden;
  width: 0rem;
  border-radius: 9rem;
  flex-direction: row-reverse;
  padding-left: 0;
   /* border: 0.1rem solid var(--color-s6) !important;  */
  background-color: var(--color-s6);
  margin-left: 0;
  transition: all ease-in-out .3s;
  overflow: hidden;
  h4 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-n1);
    font-size: .8rem;
  font-weight: 300;
  color: black;
  line-height: 1rem;
  }
  > span,
  .comp-logo {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 9rem;
    overflow: hidden;
    border: 0.2rem solid var(--white) !important;
    padding: 0.5rem !important;

    /* padding: 0 !important; */
  }
  .comp-logo {
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    letter-spacing: .1rem;
  }
}

header.sticked + main.main .section .graph-section {
  .exp-block {
  width: 6.3vw;
  padding-left: 0.4rem;


    &.dubai-state{
      margin-left: 31.5vw;
    }
    &.festberg{
      margin-left: 6.3vw;
    }
    &.beargeek{
      margin-left: 0;
    }
  }
}
.z-665{
  z-index: 665;
}
.no-body-bg {
  .body-bg{
    background-color: transparent;
  }
}