aside.main {
    position: relative;
    z-index: 12;
  
    .sideabar-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      height: 100vh;
  
      &>div {
        margin-bottom: auto;
      }
  
      & > nav {
        margin-bottom: auto;
        padding-left: 1rem;
        border-left: .1rem solid;
  
  
      }
    }
  }