:root {
  /* sidebar-color schem v1 start */

  /* --sidebar-bg: var(--primary75);
  --sidebar-border-left-color: var(--primary75);

  --sideabr-cat-bg:red;
  --sidebar-active-cat-bg:var(--primary75);
  --sideabr-active-cat-ul-article-bg:var(--primary60);

  --sidebar-chapter-color: var(--primary30);


  --sidebar-active-cat-ul-li-1st:var(--primary30);
  --sidebar-active-cat-ul-li-1st-active:var(--primary15);

  --sidebar-active-cat-ul:var(--primary45);
  --sidebar-active-cat-ul-li-2nt-higlight-color:var(--secondary30);
  --sidebar-active-cat-ul-li-2nt-color:var(--bg); */

  /* sidebar-color schem v1 end */
  --sidebar-active-cat-ul-li-1st: var(--text60);
  --sidebar-active-cat-ul-li-1st-active: var(--primary);
  --sidebar-chapter-color: var(--text60);

  --sidebar-active-cat-ul-li-2nt-higlight-color: var(--primary);
  --sidebar-active-cat-ul-li-2nt-color: var(--text60);
}

.sidebar {
  background-color: var(--sidebar-bg);
  border-left: 0.1rem solid var(--sidebar-border-left-color);

  .sidebar-inner {
    padding-top: 4.5rem;
    /* position: sticky;
    top: 4.5rem; */
    /* padding-left: 45px; */
    /* padding-top: var(--size-15); */
  }

  ul {
    list-style-type: none;
  }

  ul.articles {
    .content-links {
      display: none;
    }

    >li>a {
      padding-left: 0.83rem;

      &.active,
      &.active * {
        color: var(--primary);
      }
    }

    &>li>a.active+.content-links {
      display: block;
    }
  }

  ul.articles {
    display: none;
  }

  .active-cat+ul.articles {
    display: block;
  }

  .parts {
    margin-bottom: 3rem;

    /* background-color: var(--primary); */
    &>span {
      font-size: var(--size-24);
      display: block;
      padding-left: var(--size-15);
      /* border-bottom: 0.1rem solid var(--primary45); */
      /* margin-bottom: var(--size-9); */
      background-color: var(--sideabr-cat-bg);
      font-weight: normal;

      &.active-cat {
        background-color: var(--sidebar-active-cat-bg);
        color: var(--text30);
      }
    }
  }

  .active-cat {
    padding: var(--size-15);
    text-transform: uppercase;
    font-weight: 900;

    &+ul.articles {
      background-color: var(--sideabr-active-cat-ul-article-bg);

      .chapter {
        /* background-color: var(--text15); */
        font-size: 0.83rem;
        text-transform: uppercase;
        padding: .5rem;
        display: block;
        margin-bottom: .5rem;
        text-align: right;
        /* font-size: .6rem; */
        font-weight: bold;

        a{
        position: relative;

          &::after{
            position: absolute;
            display: block;
            content: "";
            height: .1rem;
            background-color: var(--text30);
            width: 100%;
            top: 50%;
            margin-top: -.05rem;
            z-index: -1;
          }
          > span {
            background-color: var(--body-color);
            padding-left: .5rem;
          }
        }
        * {
          color: var(--sidebar-chapter-color);
          /* font-size: 12px; */
          letter-spacing: .02rem;

        }
      }

      li:not(.chapter)>a {
        /* display: inline-block; */
        color: var(--sidebar-active-cat-ul-li-2nt-color);

        * {
          color: var(--sidebar-active-cat-ul-li-1st);
          font-weight: normal;
          font-size: 1.2rem;
          /* font-size: var(--font-size-Subtitle); */
        }
      }

      li:not(.chapter) {
        a {
          /* border-bottom: .1rem solid var(--text15); */
          /* background-color: red; */
          display: block;
          /* padding: var(--size-15); */
          margin-right: 2.5rem;
          border-radius: 0 .5rem 0 0;
          display: flex;
          align-items: center;

          &:before {
            transition: all ease-in-out .2s;
            content: "";
            display: inline-block;
            width: 0;
            height: .5rem;
            background-color: var(--primary);
            border-radius: 5rem;
            transition: all ease-in-out .s;
          }
        }

        a.active,
        a:hover {

          &:before {
            margin-right: .5rem;
            width: .5rem;

          }

          * {
            color: var(--sidebar-active-cat-ul-li-1st-active) !important;
          }
        }
      }

      .content-links {

        /* list-style-type: circle; */
        li {
          padding-left: var(--size-39);

          /* list-style-position: inside; */
          a {
            position: relative;

            &:before {
              content: '';
              display: block;
              height: 0.3rem;
              background-color: var(--sidebar-active-cat-ul-li-2nt-color);
              position: absolute;
              width: 0.3rem;
              top: 50%;
              margin-top: -0.1rem;
              left: -18px;
              transition: all ease-in-out .1s;
            }
          }
        }
      }

      a.active+.content-links {
        background-color: var(--sidebar-active-cat-ul);
        /* border-left: 0.1rem solid var(--primary); */
        margin-right:3rem;
        border-radius: 0 0 .5rem 0;

        /* padding-bottom: 15px; */
        /* padding-top:  var(--size-15) ; */
        li:first-child {
          margin-top: var(--size-15);
        }

        li a {
          /* padding: 0 15px; */
          font-size: 0.93rem;

          &.highlight {
            /* border-left: 0.2rem solid blueviolet; */
            transition: all ease-in-out .1s;

            color: var(--sidebar-active-cat-ul-li-2nt-higlight-color);

            &:before {
              transition: all ease-in-out .1s;

              width: 27px;
              left: -39px;
              background-color: var(--sidebar-active-cat-ul-li-2nt-higlight-color);
            }
          }

          &.higlight:before {
            background-color: var(--sidebar-active-cat-ul-li-2nt-higlight-color);
          }
        }
      }
    }

  }

  .title {
    font-size: var(--size-39);
    padding-bottom: 3rem;
    padding-left: 45px;
    color: var(--text45);
    text-transform: uppercase;
    font-weight: 900;
  }
}