/*


n1-90 n2-75 n3-60 n4-45 n5-30 n6-15 n7-5


*/
:root {
    --text: #180608;
    --bg: #fbf4f4;
    --primary: #6b1e23;
    --secondary: #b4e0e4;
    --accent: #3b305f;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #64d97b;
    --secondarycontrast: #64d97b;
    --accentcontrast: #64d97b;
    --text5: hsl(353, 60%, 6%, 5%);
    --text10: hsl(353, 60%, 6%, 10%);
    --text15: hsl(353, 60%, 6%, 15%);
    --text20: hsl(353, 60%, 6%, 20%);
    --text25: hsl(353, 60%, 6%, 25%);
    --text30: hsl(353, 60%, 6%, 30%);
    --text35: hsl(353, 60%, 6%, 35%);
    --text40: hsl(353, 60%, 6%, 40%);
    --text45: hsl(353, 60%, 6%, 45%);
    --text50: hsl(353, 60%, 6%, 50%);
    --text55: hsl(353, 60%, 6%, 55%);
    --text60: hsl(353, 60%, 6%, 60%);
    --text65: hsl(353, 60%, 6%, 65%);
    --text70: hsl(353, 60%, 6%, 70%);
    --text75: hsl(353, 60%, 6%, 75%);
    --text80: hsl(353, 60%, 6%, 80%);
    --text85: hsl(353, 60%, 6%, 85%);
    --text90: hsl(353, 60%, 6%, 90%);
    --text95: hsl(353, 60%, 6%, 95%);
    --primary5: hsl(356, 56%, 27%, 5%);
    --primary10: hsl(356, 56%, 27%, 10%);
    --primary15: hsl(356, 56%, 27%, 15%);
    --primary20: hsl(356, 56%, 27%, 20%);
    --primary25: hsl(356, 56%, 27%, 25%);
    --primary30: hsl(356, 56%, 27%, 30%);
    --primary35: hsl(356, 56%, 27%, 35%);
    --primary40: hsl(356, 56%, 27%, 40%);
    --primary45: hsl(356, 56%, 27%, 45%);
    --primary50: hsl(356, 56%, 27%, 50%);
    --primary55: hsl(356, 56%, 27%, 55%);
    --primary60: hsl(356, 56%, 27%, 60%);
    --primary65: hsl(356, 56%, 27%, 65%);
    --primary70: hsl(356, 56%, 27%, 70%);
    --primary75: hsl(356, 56%, 27%, 75%);
    --primary80: hsl(356, 56%, 27%, 80%);
    --primary85: hsl(356, 56%, 27%, 85%);
    --primary90: hsl(356, 56%, 27%, 90%);
    --primary95: hsl(356, 56%, 27%, 95%);
    --secondary5: hsl(185, 47%, 80%, 5%);
    --secondary10: hsl(185, 47%, 80%, 10%);
    --secondary15: hsl(185, 47%, 80%, 15%);
    --secondary20: hsl(185, 47%, 80%, 20%);
    --secondary25: hsl(185, 47%, 80%, 25%);
    --secondary30: hsl(185, 47%, 80%, 30%);
    --secondary35: hsl(185, 47%, 80%, 35%);
    --secondary40: hsl(185, 47%, 80%, 40%);
    --secondary45: hsl(185, 47%, 80%, 45%);
    --secondary50: hsl(185, 47%, 80%, 50%);
    --secondary55: hsl(185, 47%, 80%, 55%);
    --secondary60: hsl(185, 47%, 80%, 60%);
    --secondary65: hsl(185, 47%, 80%, 65%);
    --secondary70: hsl(185, 47%, 80%, 70%);
    --secondary75: hsl(185, 47%, 80%, 75%);
    --secondary80: hsl(185, 47%, 80%, 80%);
    --secondary85: hsl(185, 47%, 80%, 85%);
    --secondary90: hsl(185, 47%, 80%, 90%);
    --secondary95: hsl(185, 47%, 80%, 95%);
    --accent5: hsl(254, 33%, 28%, 5%);
    --accent10: hsl(254, 33%, 28%, 10%);
    --accent15: hsl(254, 33%, 28%, 15%);
    --accent20: hsl(254, 33%, 28%, 20%);
    --accent25: hsl(254, 33%, 28%, 25%);
    --accent30: hsl(254, 33%, 28%, 30%);
    --accent35: hsl(254, 33%, 28%, 35%);
    --accent40: hsl(254, 33%, 28%, 40%);
    --accent45: hsl(254, 33%, 28%, 45%);
    --accent50: hsl(254, 33%, 28%, 50%);
    --accent55: hsl(254, 33%, 28%, 55%);
    --accent60: hsl(254, 33%, 28%, 60%);
    --accent65: hsl(254, 33%, 28%, 65%);
    --accent70: hsl(254, 33%, 28%, 70%);
    --accent75: hsl(254, 33%, 28%, 75%);
    --accent80: hsl(254, 33%, 28%, 80%);
    --accent85: hsl(254, 33%, 28%, 85%);
    --accent90: hsl(254, 33%, 28%, 90%);
    --accent95: hsl(254, 33%, 28%, 95%);
}


.dark:root{
    --text: #f9e7e9;
    --bg: #0b0404;
    --primary: #e19499;
    --secondary: #1b474b;
    --accent: #aba0cf;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #64d97b;
    --secondarycontrast: #64d97b;
    --accentcontrast: #64d97b;
    --text5: hsl(353, 60%, 94%, 5%);
    --text10: hsl(353, 60%, 94%, 10%);
    --text15: hsl(353, 60%, 94%, 15%);
    --text20: hsl(353, 60%, 94%, 20%);
    --text25: hsl(353, 60%, 94%, 25%);
    --text30: hsl(353, 60%, 94%, 30%);
    --text35: hsl(353, 60%, 94%, 35%);
    --text40: hsl(353, 60%, 94%, 40%);
    --text45: hsl(353, 60%, 94%, 45%);
    --text50: hsl(353, 60%, 94%, 50%);
    --text55: hsl(353, 60%, 94%, 55%);
    --text60: hsl(353, 60%, 94%, 60%);
    --text65: hsl(353, 60%, 94%, 65%);
    --text70: hsl(353, 60%, 94%, 70%);
    --text75: hsl(353, 60%, 94%, 75%);
    --text80: hsl(353, 60%, 94%, 80%);
    --text85: hsl(353, 60%, 94%, 85%);
    --text90: hsl(353, 60%, 94%, 90%);
    --text95: hsl(353, 60%, 94%, 95%);
    --primary5: hsl(356, 56%, 73%, 5%);
    --primary10: hsl(356, 56%, 73%, 10%);
    --primary15: hsl(356, 56%, 73%, 15%);
    --primary20: hsl(356, 56%, 73%, 20%);
    --primary25: hsl(356, 56%, 73%, 25%);
    --primary30: hsl(356, 56%, 73%, 30%);
    --primary35: hsl(356, 56%, 73%, 35%);
    --primary40: hsl(356, 56%, 73%, 40%);
    --primary45: hsl(356, 56%, 73%, 45%);
    --primary50: hsl(356, 56%, 73%, 50%);
    --primary55: hsl(356, 56%, 73%, 55%);
    --primary60: hsl(356, 56%, 73%, 60%);
    --primary65: hsl(356, 56%, 73%, 65%);
    --primary70: hsl(356, 56%, 73%, 70%);
    --primary75: hsl(356, 56%, 73%, 75%);
    --primary80: hsl(356, 56%, 73%, 80%);
    --primary85: hsl(356, 56%, 73%, 85%);
    --primary90: hsl(356, 56%, 73%, 90%);
    --primary95: hsl(356, 56%, 73%, 95%);
    --secondary5: hsl(185, 47%, 20%, 5%);
    --secondary10: hsl(185, 47%, 20%, 10%);
    --secondary15: hsl(185, 47%, 20%, 15%);
    --secondary20: hsl(185, 47%, 20%, 20%);
    --secondary25: hsl(185, 47%, 20%, 25%);
    --secondary30: hsl(185, 47%, 20%, 30%);
    --secondary35: hsl(185, 47%, 20%, 35%);
    --secondary40: hsl(185, 47%, 20%, 40%);
    --secondary45: hsl(185, 47%, 20%, 45%);
    --secondary50: hsl(185, 47%, 20%, 50%);
    --secondary55: hsl(185, 47%, 20%, 55%);
    --secondary60: hsl(185, 47%, 20%, 60%);
    --secondary65: hsl(185, 47%, 20%, 65%);
    --secondary70: hsl(185, 47%, 20%, 70%);
    --secondary75: hsl(185, 47%, 20%, 75%);
    --secondary80: hsl(185, 47%, 20%, 80%);
    --secondary85: hsl(185, 47%, 20%, 85%);
    --secondary90: hsl(185, 47%, 20%, 90%);
    --secondary95: hsl(185, 47%, 20%, 95%);
    --accent5: hsl(254, 33%, 72%, 5%);
    --accent10: hsl(254, 33%, 72%, 10%);
    --accent15: hsl(254, 33%, 72%, 15%);
    --accent20: hsl(254, 33%, 72%, 20%);
    --accent25: hsl(254, 33%, 72%, 25%);
    --accent30: hsl(254, 33%, 72%, 30%);
    --accent35: hsl(254, 33%, 72%, 35%);
    --accent40: hsl(254, 33%, 72%, 40%);
    --accent45: hsl(254, 33%, 72%, 45%);
    --accent50: hsl(254, 33%, 72%, 50%);
    --accent55: hsl(254, 33%, 72%, 55%);
    --accent60: hsl(254, 33%, 72%, 60%);
    --accent65: hsl(254, 33%, 72%, 65%);
    --accent70: hsl(254, 33%, 72%, 70%);
    --accent75: hsl(254, 33%, 72%, 75%);
    --accent80: hsl(254, 33%, 72%, 80%);
    --accent85: hsl(254, 33%, 72%, 85%);
    --accent90: hsl(254, 33%, 72%, 90%);
    --accent95: hsl(254, 33%, 72%, 95%);
}