:root {

--wrapper-main: 106.666rem;
--wrapper-sec: 60rem;
--font: Arial, Helvetica, sans-serif;

--font-size-huge: 4.3rem;
--font-size-big: 3.6rem;
--font-size-title: 1.66rem;
--font-size-Subtitle: 1.33rem;
--font-size-paragraph: 1rem;
--font-size-caption: .83rem;




/* --color-static-n1: #1A1A1A;
--color-static-n2: #404040;
--color-static-n3: #666666;
--color-static-n4: #8C8C8C;
--color-static-n5: #B3B3B3;
--color-static-n6: #D9D9D9; */

/*


n1-90 n2-75 n3-60 n4-45 n5-30 n6-15 n7-5


*/



/* --color-static-p2:  #2E5B95;
--color-static-p3:  #5378A7;
--color-static-p4:  #7895BA;
--color-static-p5:  #9DB2CD;
--color-static-p6: #C1CFE0;


--color-static-s1: #FF9E00;
--color-static-s2: #FFAD26;
--color-static-s3: #FFBB4D;
--color-static-s4: #FFCA73;
--color-static-s5: #FFD899;
--color-static-s6: #FFE7BF;
--color-static-s7: #FFF0D9; */

--bg:#ffffff;
--black:#000000;
/* --body-color: #fff8e1; */
--body-color: var(--bg);
--shadow : .1rem .1rem .5rem -.5rem var(--black);
--shadow-hover: .1rem .1rem .8rem -.2rem var(--text45);
/* size and proportion */
--size-9: .5rem;
--size-15: 0.8333rem;
--size-24: 1.333rem;
--size-39: 2.16rem;
--size-63: 3.5rem;
--size-102: 5.6rem;

--size-9x2: 1rem;
--size-15x2: 1.6rem;
--size-24x2: 2.66rem;
--size-39x2: 4.33rem;
--size-63x2: 7rem;
--size-102x2: 11.3rem;

--size-9x3: 1.5rem;
--size-15x3: 2.5rem;
--size-24x3: 4rem;
--size-39x3: 6.5rem;
--size-63x3: 10.5rem;
--size-102x3: 17rem;


/* wrapper */
--wrapper-margin: 4rem;
/* header */
--logo-name-small: var(--size-24);
--logo-name-big: var(--size-15x3);
--logo-name-big-font-weight: 900;
--logo-name-big-color: var(--text30);
--intro-color: var(--text);

}


@media screen and (max-width: 500px) {
    :root{
        --wrapper-margin: var(--size-15);
    }
}

